@font-face {
  font-family: 'Circular-Air-Book';
  src: url('../../assets/Circular-Air-Book.ttf');
}

@font-face {
  font-family: 'Circular-Air-Light';
  src: url('../../assets/Circular-Air-Light.ttf');
}

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  /* width: 100%; */
}

.content {
  height: 100%;
  width: 100%;
  /* margin-left: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.content-greetings-primary {
  font-family: Circular-Air-Light;
  color: #161A1F;
  font-size: 25px;
  margin-bottom: 5%;
  margin-left: 5%;
}

.content-greetings-secondray {
  font-size: 25px;
  font-family: Circular-Air-Light;
  color: rgb(143, 143, 143);
  margin-left: 5%;
}

.line {
  font-weight: 700;
  font-size: x-large;
  color: #161A1F;
  margin-left: 5%;
}

.content-instruction {
  font-size: 13px;
  font-family: Circular-Air-Book;
  color: rgb(143, 143, 143);
  font-weight: bold;
  margin-left: 5%;
}

.date-wrapper {
  margin-left: 5%;
}

.date--wrapper-day {
  font-size: 40px;
  font-family: Circular-Air-Light;
}

.date-wrapper-date {
  font-size: 40px;
  color: #F2005D;
  font-family: Circular-Air-Light;
}

.options-wrapper {
  margin-left: 2%;
  font-family: Circular-Air-Light;
}

.option-1 {
  font-size: 20px;
  font-family: Circular-Air-Light;
}

.option-2 {
  font-size: 20px;
  font-family: Circular-Air-Light;
}

.submit {
  font-size: 12px !important;
  background-color: #161A1F !important;
  color: white !important;
  bottom: 0 !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  height: 60px !important;
  display: flex !important;
  border-radius: 0px !important;
  font-family: Circular-Air-Light !important;
}