.header-wrapper {
  background-color: white !important;
  box-shadow: none !important;
}
.header-icon {
  height: 25px;
}
.header-wrapper-content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header-wrapper-content.MuiToolbar-gutters {
  padding: 0 24px;
}

@media only screen and (min-width: 425px) {
  .header-wrapper-content.MuiToolbar-gutters {
    padding: 0;
  }
}

@media only screen and (min-width: 425px) {
  header.header-wrapper {
    max-width: 425px;
    margin: 0 auto;
    left: 0;
  }
}
