.wrapper{
  display: flex;
  justify-content: center;
  height: 102vh;
}

.main_class{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url(assets/image.png); */
  height: 102vh;
  width: 57vh;
}
.text-align{
  text-align: center;
}

.wrapper_content{
  width: 100%;
}

.button_wrapper{
  display: flex;
  /* margin-bottom: 10%; */
}

.margin_bottom-30{
  margin-bottom: 30px;
}

.margin_bottom-40{
  margin-bottom: 40px;
}

.pageWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 15%;  
}

.EmpPageWrapper{
  display: flex;
  justify-content: space-evenly;
  
}

.attendanceCard{
  background-color: whitesmoke;
 
}

.loginScreen{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.margin-right{
  margin-right: 10%;
}

.margin-left{
  margin-left: 30%;
  font-size: x-large;
}

.cardHeader{
  display: flex;
  height: 30vh;
  margin-top: 50px;
  width: 53vh;
  justify-content: space-evenly;
}

.font_style{
  font-size: 22px;
  font-family: sans-serif;
}

.color{
  color: cornflowerblue;
}

.bg_color{
  background-color: #DD0130;
}

.logo{
  display: flex;
  justify-content: center;
}

.empInfo{
  display: flex;
  flex-direction: column
}

.empCard{
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.swipeWrapper{
  margin-top: 50%;
    font-size: 40px;
}